mixin newsArticle()
    .news-article
       h3.news-article__title Уважаемые налогоплательщики заплатите налоги!
       .news-article__image-wrapper
            img(src="/images/nalog.jpg", alt="").news-article__image
       p.news-news-article__text Межрайонная ИФНС России № 6 по Пермскому краю сообщает, что в связи с Указом Президента Российской Федерации от 20.10.2021 № 595 «Об установлении на территории Российской Федерации нерабочих дней...
       .news-article__button-wrapepr
            a(href="#").news-article__read-more Читать далее 