- var items = ['Министерство финансов Российской Федерации', 'Министерство финансов Пермского края', 'Администрация города Кунгура', 'Портал государственных и муниципальных услуг Пермского края', 'Сайт государственных и муниципальных учреждений', 'Блог главы города Кунгура', 'Блог начальника управления финансов' ]

ul.bottom-nav
    each item in items
        li.bottom-nav__item
            a(href="#").bottom-nav__link=item 