mixin header()
    div.header 
       .header__title Управление финансов и экономики администрации Кунгурского муниципального Округа Пермского края
       img(src="/img/gerb.png", alt="Герб").header__logo
