mixin header()
    div.header 
       a(href="#").header__title.--visually-impaired Управление финансов и экономики администрации Кунгурского муниципального Округа Пермского края
       a(href="#").header__logo-link
            img(src="/img/gerb.png", alt="Герб").header__logo
       .header__burger
           include ../components/burger.pug