mixin mainNav()            
    nav.header-nav
        a.header-nav__link(href="#" target="_blank") Главная
        a.header-nav__link(href="#" target="_blank") Об управлении
        a.header-nav__link(href="#" target="_blank") Бюджет Кунгурского МО
        a.header-nav__link(href="#" target="_blank") Нормативно-правовые акты
        a.header-nav__link(href="#" target="_blank") Контакты
        a.header-nav__link(href="#" target="_blank")
            .header-nav__visually-impaired
