extends ./layout/layout

block variables
    - var page_title = 'Главная';
    

block content
   .text Lorem, ipsum Quod minima voluptatibus ea iusto doloribus adipisci animi provident similique incidunt necessitatibus veniam ipsum, quae, aperiam pariatur mollitia ipsa soluta? Labore, dolores.
