extends ./layout/layout

block variables
    - var page_title = 'Главная';
    

block content
   section.single-news
    .single-news__title
        h2.section-title(style="margin-bottom: 15px") Памятка участнику СВО
    .single-news__image-wrapper
        img(src="../images/nalog.jpg", alt="Изображение").single-news__image
    p.single-news__text Выбрать На производственной площадке СПК «Колхоз им. Чапаева» состоялся первый Фестиваль профессий в агропромышленном комплексе Кунгурского округа. На производственной площадке СПК «Колхоз им. Чапаева» состоялся первый Фестиваль профессий в агропромышленном комплексе Кунгурского округа. Подготовили памятку участникам СВО и членам их семей о региональных льготах, мерах социальной поддержки, медицинской помощи в Кунгурском муниципальном округе. Напомним, в Пермском крае ведется комплексная поддержка участников СВО и их семей.
    a(href="#").single-news__all Все новости
    
   

