.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  &__link{
    display: flex;
    align-items: center;
    padding: 47px 20px;
    font-size: 26px;
    font-weight: 900;
    text-align: center;    
    text-decoration: none;
    transition: all ease-out .3s;
    color: #fff;
    &:hover{
      text-decoration: underline;
    }
  }
  &__visually-impaired{
    display: block;
    background: url(../img/icons/eye.svg) center no-repeat; background-size: cover;
    width: 91px;
    height: 66px;
    
  }
}