mixin list(title)
    .list
        h2.list__title=title
        ul.list__wrapper
            - for (let i = 0; i < 10; i++)
                li.list__item
                    a(href="#").list__link
                        img(src="/img/icons/doc.svg", alt="Документ").list__img
                        .list__item-text Информация об итогах работы Управления финансов администрации города Кунгура Пермского края за 2016 год
        .list__pagination
            include ../components/pagination.pug
                    