.bottom-nav{
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    background-color: $base-blue;
    padding: 20px 40px;
    gap: 30px;
    @include tablet{
        grid-template-columns: repeat(2, 1fr);
    }
    @include phone{
        display: block;
    }

    &__link{ 
        display: block;
        font-size: 18px;
        font-weight: 900;
        text-decoration: none;
        color: #fff;
        padding: 12px 0;
        &:hover{
            text-decoration: underline;
        }
    }
}