.pagination{
    text-align: center;
    margin-bottom: 50px;
    
    .page-numbers{
        color: #09256F;
        padding: 10px;
        text-decoration: none;
    }
    .current{
        color: #000;
        text-decoration: none;
    }
    a.page-numbers:hover{
        text-decoration: underline;
    }
}