.side-bar{
    list-style: none;
    padding: 0;
    padding-top: 25px;
    &__item{
        padding: 22px 25px;
    }
    &__link{        
        color: $base-color;        
        text-decoration: none;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
        &:hover{
            text-decoration: underline;
        }       
    }
}