.side-bar{
    
    list-style: none;
    padding: 0;    
    &__link{       
        font-size: 18px; 
        color: $base-color;
        display: block;        
        text-decoration: none;        
        font-weight: 400;
        text-align: center;
        padding: 22px 15px;       
        &:hover{
            text-decoration: underline;
        }
        @include tablet{
            font-size: 16px; 
            color: #09256F;
            font-weight: 900;
        } 
    
    }
}