include banner.pug

- var images = ['3.jpg', '1.jpg', '2.jpg', '4.jpg', '1.jpg', '2.jpg', '4.jpg']


.banners-list.swiper.js-banner-slider
    .banners-list__wrapper.swiper-wrapper
        each image in images
            .banners-list__item.swiper-slide
                +banner('/images/banners/' + image)
    .banners-list__arrows
        .banners-list__arrow.banners-list__arrow--prev.--prev
            .banners-list__arrow-img.--prev
        .banners-list__arrow.banners-list__arrow--next
            .banners-list__arrow-img