.layout{
    max-width: 1366px;
	margin: 0 auto;
	padding: 0 30px;
	min-height: 100vh;
    display: grid;
	grid-template-rows: auto auto 1fr auto auto auto;
	grid-template-columns: 230px 1fr 230px;

    grid-template-areas: 
        "header header header"
        "main-nav main-nav main-nav"
        "aside-left main aside-right"
        "banners banners banners"
        "bottom-nav bottom-nav bottom-nav"
        "footer footer footer";

    @include small-desktop{
        padding: 0;
    }
    @include tablet{ 
        padding: 0 10px;       
        grid-template-rows: auto auto auto auto 1fr auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: 
            "header header header"
            "main-nav main-nav main-nav"
            "aside-left aside-left aside-left"
            "aside-right aside-right aside-right"
            "main main main"
            "banners banners banners"
            "bottom-nav bottom-nav bottom-nav"
            "footer footer footer"; 
    }
    @include phone{
        padding: 0;
    }
 
    &__header{
        grid-area: header;
    }
    &__main-nav{
        grid-area: main-nav;        
        margin-bottom: 20px;
        @include tablet{
            margin-bottom: 10px;
        }     
    }
    &__main{
        grid-area: main;
        padding: 0 50px;               
        @include tablet{
            margin-top: 20px;
            padding: 0;
        }     
    }

    &__aside-wrapper{
        &.--hide{
            @include tablet{
                display: none;
            }
        }
    }

    &__aside{        
        background-color: $ligth-blue;
        padding-top: 5px;
        @include tablet{
            padding-top: 0;
            background-color: white;
        }        
        &.--right{
            grid-area: aside-right;           
        }
        &.--left{
            grid-area: aside-left;            
        }
    }

    &__aside-switch{
        display: none;
        @include tablet{
            display: block;
        }
    }

    &__aside-switch-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $base-blue;
        padding: 10px;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 900;
        cursor: pointer;     
    }
    &__aside-switch-button{   
        position: relative;
        &::after{
            content: "";
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            background-color: #fff;
            position: absolute;
            width: 20px;
            height: 20px;
            margin-left: 20px;   
        }    
        &.--open{
            &::after{
                transform: rotateX(180deg);   
            }
        }        
    }

    &__aside-visually{
        width: 47px;
        height: 35px;    
    }

    &__banners{
        grid-area: banners;
        margin-top: 100px;
        margin-bottom: 20px;
        overflow: hidden;  
    }
    &__bottom-nav{        
        grid-area: bottom-nav;
        margin-bottom: 60px;
    }
    &__footer{
        grid-area: footer;
        background-color: #D9D9D9;
    }
}