.banners-list{   
    position: relative;
    &__item{      
       display: flex;
       align-items: center;
       justify-content: center;       
    }
    &__next{
        display: none;
        @include phone{
            display: flex;
        }
        right: 0;
        &::after{
            content: "";
            width: 22px;
            height: 22px;
            background-color: #22318e;
            clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
    }
    &__prev{
        display: none;
        @include phone{
            display: flex;
        }
        left: 0;
        &::after{
            content: "";
            width: 22px;
            height: 22px;
            background-color: #22318e;
            clip-path: polygon(0 50%, 100% 100%, 100% 0);
        }
    }
}