.all-news{
    position: relative;
    height: 100%;
    &__wrapper{
        display: grid;
        justify-content: space-evenly;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    &__pagination{
        position: absolute;
        left: 50%;
        bottom: -120px;
        transform: translateX(-50%)        
    }
}