.news-article{
    box-shadow: 0px 7px 25px 10px #BDB6B6E3;
    padding: 25px 25px 15px 25px;
    @include phone{
        box-shadow: 0px 7px 5px 3px #BDB6B6E3;
    }
    &__title{
        font-size: 28px;
        font-weight: 700;
        display: block;
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
    }
    &__image-wrapper{
        height: 200px;
        overflow: hidden;
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__text{
        font-size: 20px;
        font-weight: 300;
        text-align: left;
    }
    &__button-wrapepr{
        display: flex;
        justify-content: center;
    }
    &__read-more{
        display: block;
        background-color: #D9D9D9;
        border: none;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900; 
        text-align: center;
        color: #000;
        padding: 5px 10px;
        &:hover{
            background-color: darken(#D9D9D9, 15%);
        }
    }
}